<h2>Most recent questions</h2>

<ul>
    {% for question in questions %}
        <li><a href="{{ path('tenolo_faq_question_show', { question: question.id, slug: question.slug }) }}">{{ question.name }}</a></li>
    {% endfor %}
</ul>
