<h1>Tenolo FAQ Bundle</h1>
<p>
    Welcome to the Tenolo FAQ Bundle example template.
</p>

<h2>Categories</h2>
<ul>
    {% for cat in categories %}
        <li>
            <a href="{{ path('tenolo_faq_show', { category: cat.id, slug: cat.slug }) }}">{{ cat.name|e }}</a>
        </li>
    {% endfor %}
</ul>

{% if category is defined and category is not null %}
    <h2>Questions</h2>
    <ul>
        {% for question in questions %}
            <li>
                <a href="{{ path('tenolo_faq_question_show', { question: question.id, slug: question.slug }) }}">{{ question.name|e }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
